<!-- Campaign logs tab -->
<ul style="list-style-type:none; margin-right:25px;"> 
{{#if this.response.length}}
		{{#each this.response}}
			{{#stringToJSON this ""}}
<li style="margin:2px;border-bottom:1px solid #F5F5F5;padding-top: 5px;">
	<div style="display:block;">
		<div id="campaigns" class="activity-text-block">
			<span class="activity-block-owner pull-left" style=" margin-right: 5px;min-height: 37px;">
				{{#if log_type}}
					<img class="user-img" width="30" height="30" alt="" src="{{../../../lib_path}}img/campaigns/{{log_type}}.png">
				{{else}}
					<img class="user-img" width="30" height="30" src="https://d13pkp0ru5xuwf.cloudfront.net/css/images/user-default.png">
				{{/if}}
			</span>
			
			<!--<div class="edit-hover pull-right" style="margin-right: 12px;">Campaign - <a target="_blank" href="{{../../ac_path}}#workflow/{{campaign_id}}" title="Show Workflow in Agile"> {{campaign_name}}</a></div>-->
			<div><a style="text-decoration: none;text-transform: capitalize;"><b>{{titleFromEnums log_type}}</b></a>
			<span class="label label-info " style="margin-left:5px;">Campaign -<a target="_blank" href="{{../../ac_path}}#workflow/{{campaign_id}}" title="Show Workflow in Agile" style="color:white;text-transform: capitalize;"> {{campaign_name}}</a>
					</span>
			</div>


 			<p style="color: #909090;">{{#if_email_sent this "log_type"}} Subject: {{Subject}} {{else}} {{{message}}} {{/if_email_sent}}</p>

			<div class="edit-hover pull-right" style="margin-right: 10px; color:#b2b0b1;margin-top: -25px;">
					<span>
					<i class="fa fa-clock-o m-r-xs text-muted"></i>
					<time class="log-created-time text-muted" datetime="{{epochToHumanDate "" time}}">{{epochToHumanDate "ddd mmm dd yyyy HH:MM:ss" time}}</time>
					</span>
					
				
			</div>	
		</div>
	</div>
</li>
			{{/stringToJSON}}
		{{/each}}
	{{else}}
		<li>
			<div style="display:block;" class="activity">
				<div id="notes" class="activity-text-block">
					<p style="display:inline; margin-right:10px;">You have no campaigns for this contact.</p>
					<br>
					<a class="action-add-campaign btn  btn-default btn-addon btn-sm" style="padding: 0;text-align: center;margin-top: 10px;margin-bottom: 10px;"><i  class="fa fa-plus-circle" style="border-right: 1px solid #ccc; padding: 6px;"></i><span style="padding: 5px;">Add to Campaign</span></a>
				</div>
			</div>
		</li>
	{{/if}}
</ul>