<!-- Notes list tab -->
<ul style="list-style-type:none; margin-right:25px;margin-left:10px;">
	{{#if this.length}}
		{{#each this}}
			{{#stringToJSON this ""}}
				<li style="margin:5px;border-bottom:1px solid #F5F5F5">
					<div style="display:block;" class="activity">
						<div id="notes" class="activity-text-block">
							<h4><a style="text-decoration: none"><b>{{ucfirst subject}}</b></a></h4>
							<p style="margin-right:40px;color: #b2b0b1;">{{description}}</p>	
					 		<div class="pull-right" style="margin-top:-15px;">
							<small class="edit-hover" style="color:#b2b0b1;"> 
								<time class="note-created-time" datetime="{{epochToHumanDate "" created_time}}" style="border-bottom:dotted 1px #999">{{epochToHumanDate "ddd mmm dd yyyy HH:MM:ss" created_time}}</time>
							</small>
							</div>
						</div>
					</div>
				</li>
				
			{{/stringToJSON}}
		{{/each}}
	{{else}}
		<li>
			<div style="display:block;" class="activity">
				<div id="notes" class="activity-text-block">
					<p style="display:inline; margin-right:10px;">You have no notes for this contact.</p>
					<br>
					<a class="btn  btn-default btn-addon btn-sm action-add-note" style="padding: 0;text-align: center;margin-top: 10px;margin-bottom: 10px;"><i  class="fa fa-plus-circle" style="border-right: 1px solid #ccc; padding: 6px;"></i><span style="padding: 5px;">Add Note</span></a>

				</div>
			</div>
		</li>
	{{/if}}		
</ul>