<!-- Gadget Tab -->
		<ul class="nav nav-tabs gadget_tabs" data-tabs="tabs" style="margin-top:15px;">
	        <li class="active gadget-notes-tab"><a href="#Notes-{{id}}" data-toggle="tab">Notes</a></li>
	        <li class="gadget-tasks-tab"><a href="#Tasks-{{id}}" data-toggle="tab">Tasks</a></li>
			<li class="gadget-deals-tab"><a href="#Deals-{{id}}" data-toggle="tab">Deals</a></li>
			<li class="gadget-campaigns-tab"><a href="#Campaigns-{{id}}" data-toggle="tab">Campaigns</a></li>
	    </ul>
	    <div class="tab-content">
			<img class="tab-waiting" style="display:none; width:16px; float:left; margin:5px 0px 0px 8px;" src="https://googleapps.agilecrm.com/img/ajax-loader-cursor.gif"></img>
	        <div class="tab-pane active" id="Notes-{{id}}">
	            <div class="gadget-notes-tab-list">
					
				</div>
	        </div>
	        <div class="tab-pane" id="Tasks-{{id}}">
	            <div class="gadget-tasks-tab-list">
					
				</div>
	        </div>
			<div class="tab-pane" id="Deals-{{id}}">
	            <div class="gadget-deals-tab-list">
					
				</div>
	        </div>
			<div class="tab-pane" id="Campaigns-{{id}}">
	            <div class="gadget-campaigns-tab-list">
					
				</div>
	        </div>
	    </div>